<style>
 body{
   background: url('https://ww1.sinaimg.cn/large/006y8lVagy1fby3ngn833j318g0togn3.jpg')
}
 </style>

<div class="container searchresult" style="border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-left-radius:20px;border-bottom-right-radius:20px">
<%= render :partial => "jobs/search_bar" %>
<br>
<div class="search-result" style="padding-top:50px;">
  <table class="table table-borderd">
    <% @jobs.each do |job| %>
      <%= link_to(render_highlight_content(job,@query_string), job_path(job)) %>
      <hr>

    <% end %>
  </table>

</div>
</div>
