<div id="welcomeindex">
  <div class="jumbotron" style="border-radius:0;margin:0; ">
    <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">Welcome</a></p>
        <p class="slogan" >to Vitor Hunting<p>
  </div>

  <section id="company">
    <div class = "container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006y8lVagy1fbxzkcsg0wj3074074747.jpg" alt="compiler" class = "img-thhumbnail">
            <div class="caption">
              <h3>I suggest you join in!</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbwy3cw9ipj30e80e8mx4.jpg" alt="father" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@18koffer.com</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006y8lVagy1fby3abmdzgj3074074jr9.jpg" alt="doctor" class = "img-thhumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbwydcjg7wj30e80e8q31.jpg" alt="doctor" class = "img-thhumbnail">
            <div class="caption">
              <h3>010-12344321</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
