<div id="welcomeindex">
  <div class="jumbotron" style="border-radius:0;margin:0;margin-top:50px ">
    <p class="lead"><a class="btn btn-lg btn-warning" href="/jobs">Welcome</a></p>
        <p class="slogan" >to  Vitor  Hunting<p>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <p class="words"  style="font-size: 3em; font-family:Verdana">
      We are proud of ...
    </p>
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbyowvepu0j30f00800t3.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>Focus</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fbyop2aeyvj30dw07fta8.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>Efficiency</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbyowk65uqj30el07smxb.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>Professional</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section id="people">
    <div class = "container" style="margin-top;">
      <p class="words"  style="font-size: 3em; font-family:Verdana">
        What do they want to say about Victor?
      </p>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail" >
            <img src="https://ww1.sinaimg.cn/large/006y8lVagy1fbxzkcsg0wj3074074747.jpg" alt="compiler" class = "img-thumbnail">
            <div class="caption">
              <h3>I am surely suggest you to join in!</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbwy3cw9ipj30e80e8mx4.jpg" alt="father" class = "img-thumbnail">
            <div class="caption">
              <h3>Thank's God to bring me here!</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww2.sinaimg.cn/large/006y8lVagy1fby3abmdzgj3074074jr9.jpg" alt="doctor" class = "img-thumbnail">
            <div class="caption">
              <h3>I knew this website when I was a child, </h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fbwydcjg7wj30e80e8q31.jpg" alt="doctor" class = "img-thumbnail">
            <div class="caption">
              <h3>Come on!What do you hesitate? </h3>
            </div>
          </div>
        </div>
      </div>
      <p class="words"  style="font-size: 1.5em; font-family:Verdana">
        We are sinerely looking forward to serving you!
      </p>
    </div>
  </section>
</div>
