<style>
 body{
   background: url('https://ww1.sinaimg.cn/large/006y8lVagy1fby3ngn833j318g0togn3.jpg')
}
 </style>


<div class="resumeinfo-list">
<h2><%= @job.title %> - 简历列表 </h2>

<hr>

<%= render :partial => "resume", :collection => @resumes, :as => :resume %>
</div>
