/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


//div 设置

div {
  margin: 0px;
}

#include-job {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* main */

.navbar-fixed-top .nav {
    padding: 0px 0px;
}

.navbar-fixed-top .navbar-brand {
    padding: 0px 0px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 8px; //图片和链接文字拉开一点距离
    width: 32px; //定制图片宽度
    height: 32px; //定制图片高度
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

.custab{
  border: 0px solid #ccc;
  padding: 0px;
  margin: 0% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

//navbar设置
.navbar-default {
    background-color: #263238;//背景颜色
    border-color: #FF5722;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}

.navbar-default .navbar-brand {
   color: #8A8A8A;//字体颜色  <!-- #EF6C00 -->
   padding: 10px 30px;//上下10px,左右15px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #29B6F6;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}

//这是导航栏设置
navbar-default .navbar-nav > li > a{
  color: #FF6F00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D3D3D3;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6F00;
  background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFFAFA; //导航按钮按下时背景颜色
    color: #212121;
}


/* universal */

// .container{
//   min-height: 100%;margin-bottom: 0px;
// }
// .empty,footer{height:100px; background: #263238;}



/*Footer*/
html,body {
  margin: 0;
  padding:0;
  height: 100%;
}
#container-full {
  min-height:100%;
  height: auto;
  height: 100%; /*IE6不识别min-height*/
  position: relative;
}
					#header {
						background: #ff0;
						padding: 10px;
					}

					#page {
						width: 960px;
						margin: 0 auto;
						padding-bottom: 60px;/*等于footer的高度*/
					}

					#footer {
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 60px;/*脚部的高度*/
						background: #6cf;
						clear:both;
					}
					/*=======主体内容部分=======*/

					#content {
						background: orange;
						float: left;
						width: 480px;
						margin-right: 20px;
					}





/* footer */
.footer {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #202120;
    text-align: center;
    color: #7e7e7e;
    line-height: 60px;
    height: 60px;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 0px;
    z-index: 1000

}

.footer-section {
  margin: 3% 0 20px;
  display:block;
  height:150px;
  background:#E0E0E0;
}

.soc-media {

  text-align: center;
}


.footer-section .footer-content{
  display:block;
  margin-left:0px;
  margin-right:0px;
  margin-bottom: 0px;
  width:100%;
  max-width:768px;
  padding:0;
  position:relative;
  color:#333;
  text-align: center;
}

.admin_jobs_index {
  padding-top:60px;
}
