// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welcomeindex {
  display:block;
  clear:both;

}

#company {
  background-color: #263238;
  margin:0; padding:0;
}

#people {
  background-color: #263238;
  margin:0; padding:0;
}
.jumbotron {
  background: url('https://ww1.sinaimg.cn/large/006y8lVagy1fby2wk9awkj318g0rsgnc.jpg');
  background-size: cover;
  min-width: 250px;
  height: 800px;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 0;
  display: block;

}
// .title {
//   font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
//   text-align: center;
//   margin-top: 15px;
//   margin-bottom: 0px;
// }

.slogan {
  font-family: "Arial", "Microsoft Yahei", 微软雅黑;
  margin-top: 15px;
  margin-bottom:0px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 0px;
  margin-top: 200px;
  text-align: center;
  color: white;
}

.caption {
  margin: 0px;
  text-align: center;
  top: 0px;
}

.words {
  margin-top: 50px;
  text-align: center;
  color: white;

}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

.img-thumbnail {
   max-width:50px;_width:expression(this.width > 300 ? "300px" : this.width);
}
