// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welcomeindex {
  display:block;
  clear:both;
}

#company {
  background-color: #FFFFFF;

}

.jumbotron {
  background: url('https://ww1.sinaimg.cn/large/006tNc79gy1fbx2nv83vlj318g0rs0uz.jpg') scroll;
  margin-top: 30px;
  margin-down: 0px;
  background-size: cover;
  min-width: 250px;
  height: 670px;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 0;


}
.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px
  ;
}

.slogan {
  margin-top: 30px;
  margin-bottom:70px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 0px;
  text-align: center;
  color: white;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}
