<hr>
  <!-- <div id="footer"> -->
  <footer class="container-fluid" class="site-footer col-md-12 col-md-offset-0">
    <div class="foot">
     <ul class="soc-media">
       <a href="http://twitter.com" class="fa fa-twitter" target="_blank"></a>

         <a href="https://github.com/megychen" class="fa fa-github" target="_blank"></a>

         <a href="http://cz.linkedin.com" class="fa fa-linkedin" target="_blank"></a>

         <a href="mailto:example@mail.com" class="fa fa-envelope"></a>

         <p class="text-center" style="color:#8A8A8A;">
           Copyright ©2017 Victor
           <br>Design by JohnsonLee
         </p>
     </ul>
   </div>
 </footer>
  <!-- </div> -->

 <!-- <footer> -->
    <!-- <div class="footer-section"> -->
      <!-- <div class="footer-content" style="margin-top: 150px;"> -->
